.dialog-customer-list-card {
  .btn-add-new {
    color: #fff;
    background-color: $app-purple;
    border-radius: 12px !important;
    .q-btn__content {
      span.block {
        font-size: 16px !important;
        font-weight: 500;
      }
    }
  }
  .search-input {
    background: linear-gradient(
      90deg,
      rgba(235, 225, 255, 1) 3%,
      rgba(248, 245, 255, 1) 28%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 28px !important;
  }
  .contact-item {
    background: linear-gradient(
      90deg,
      rgba(235, 225, 255, 1) 3%,
      rgba(248, 245, 255, 1) 28%,
      rgba(255, 255, 255, 1) 100%
    );
    border-radius: 14px !important;
  }
}
