// app global css in SCSS form
.text-greyapp {
  color: #88888c !important;
}
.bg-greyapp {
  background: #88888c !important;
}

.text-purpleapp {
  color: #9570f1 !important;
}
.bg-purpleapp {
  background: #9570f1 !important;
}
